@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
